.category {

    height: 4rem;
    border: 5px solid rgb(255, 255, 255);
    background-color: #994ec1;
    color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.chosen {

    border: 2px solid #3a1d49;
    font-weight: 700;
}